<div id="form">
  <%= form_for(@user) do |f| %>
    <% required = false %>
    <h5 style="text-align: center; margin-bottom: 50px;">(If you have not been asked to be here, you're in the wrong place.)</h5>

    <%= render partial: 'helper_fields/errors', locals: {object: @user} %>

    <div class="row align-center">
      <div class="columns large-6 small-11">
        <% if @user.id.nil? %>
          <%= render partial: 'helper_fields/email', locals: {form: f, field: :email, required: required} %>
        <% end %>
        
        <div class="input-group">
          <%= f.label :password, class: "input-group-label" %>
          <%= f.password_field :password, required: (!can? :manage, @user), class: "input-group-field" %>
        </div>
        
        <div class="input-group">
          <%= f.label :password_confirmation, "Confirm Password", class: "input-group-label" %>
          <%= f.password_field :password_confirmation, required: (!can? :manage, @user), class: "input-group-field" %>
        </div>
        
        <% if can? :manage, @user %>
          <%= render partial: 'helper_fields/select', locals: {form: f, field: :role, options: {superadmin: "Superadmin", admin: "Admin", moderator: "Moderator", coach: "Coach", author: "Author"}} %>
        <% end %>
        
        <%= f.submit "Submit", class: "button expanded", style: "margin-top: 50px;" %>
      </div>
    </div>
	<% end %>
</div>