<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
</head>
<body style="color:#222; font-size:16px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;">
  <div>
  	<h3>URL: <%= @url %></h3>
    <h4>@error.inspect: <%= @error.inspect %></h4>
		<p style="margin-top: 20px;"><b>Application Trace:</b></p>
		<% if @trace %>
			<table style="margin: 10px 10px 50px 10px; border-spacing: 0px; border: 1px #444 solid;">
				<% @trace.each do |trace| %>
					<tr><td style="padding: 5px 15px; border: solid #444 1px;"><%= trace %></td></tr>
				<% end %>
			</table>
		<% end %>

		<h4>Source Extracts Summary:</h4>
		<% extract = @exception_wrapper.source_extracts.first %>

		<% extract[:code].each do |line_number, code| %>
			<% if line_number == extract[:line_number] %>
				<b><%= "#{line_number}: #{code.strip}" %></b><br>
			<% else %>
				<%= "#{line_number}: #{code.strip}" %><br>
			<% end %>
		<% end %>

		<p><b>Request Parameters:</b></p>
    <% if @request_params %>
      <ul>
        <% @request_params.each do |key, value| %>
          <li><%= key %>: <%= value %></li>
        <% end %>
      </ul>
    <% else %>
      <p>No request parameters.</p>
    <% end %>
  </div>
	
</body>
</html>