<%= form_for(@making_a_difference) do |f| %>
  <%= render partial: 'helper_fields/errors', locals: {object: @making_a_difference} %>

  <div class="row align-center">
    <div class="column large-5 small-12">
      <%= render partial: 'helper_fields/text', locals: {form: f, field: :name} %>
    </div>
    <div class="columns large-5">
      <%= render partial: 'helper_fields/select', locals: {form: f, field: :type_of_life, options: ['Children', 'Parents'], prompt: "Select Story"} %>
    </div>
  </div>

  <div class="row align-center">
    <div class="column large-10">
      <%= render partial: 'helper_fields/text_area', locals: {form: f, field: :comment} %>
    </div>
  </div>
    
    
  
  <div class="row align-center" style="margin-bottom: 100px; margin-top: 50px;">
    <div class="columns small-6">
      <%= f.submit "Submit", class: "button expanded" %>
    </div>
  </div>
<% end %>
