<%= form_for(@kids_night_out) do |f| %>
  <%= render partial: 'helper_fields/errors', locals: {object: @kids_night_out} %>
  
  <div class="row align-center">
    <div class="column small-8">
      <%= render partial: 'helper_fields/text', locals: {form: f, field: :title, required: true} %>
    </div>
    <div class="column small-4">    
      <%= render partial: 'helper_fields/image_uploader', locals: {form: f, field: :image_new, image: @kids_night_out.image_new, uses_active_storage: true} %>
    </div>
  </div> 
  
  <div class="row align-center">
    <div class="column small-12">
      <%= render partial: 'helper_fields/text_area', locals: {form: f, field: :details} %>
    </div>
  </div>
  
  <div class="row align-center">
    <div class="column small-12 large-7">
      <%= render partial: 'helper_fields/datetime', locals: {form: f, field: :fol_datetime, label: "Folsom Date & Time"} %>
    </div>
    <div class="column small-12 large-7">
      <%= render partial: 'helper_fields/datetime', locals: {form: f, field: :sac_datetime, label: "Sacramento Date & Time"} %>
    </div>
  </div>
   
 
  
  <div class="row align-center">
    <div class="columns small-6">
      <%= f.submit "Submit", class: "button expanded" %>
    </div>
  </div>
<% end %>
