<%= javascript_include_tag 'absents' %>

<div id="form">
  <%= form_for(@absent) do |f| %>
    <%= render partial: 'helper_fields/errors', locals: {object: @absent} %>
    <div class="row">
      <div class="columns large-6 small-12">
        <%= render partial: 'helper_fields/text', locals: {form: f, field: :first_name, label: "Child's First Name", required: true} %>
      </div>
      <div class="columns large-6 small-12">
        <%= render partial: 'helper_fields/text', locals: {form: f, field: :last_name, label: "Child's Last Name", required: true} %>
      </div>
    </div>
   
    <div class="row">
      <div class="columns small-12">
        <%= render partial: 'helper_fields/select', locals: {form: f, field: :location, fieldname: "Location", options: Absent::LOCATIONS, prompt: "Select a Location", required: true} %>
      </div>
    </div>
    
    <div class="row">
      <div class="columns large-6 small-12">
        <%#= render partial: 'helper_fields/collection_select', locals: {form: f, field: :classtype_id, fieldname: "Class Type", collection: Classtype.where(:id => 1..5), id: :id, name: :name, prompt: "Select a Class Type"} %>
        <div class=" input-group">
          <%= f.label :classtype_id, "Class Type", class: "input-group-label" %>
          <%= f.collection_select :classtype_id, Classtype.where(:id => [1,3,4,5]), :id, :name, {}, {id: "classtype_select", class: "input-group-field", required: true} %>
        </div>
      </div>
      <div class="columns large-6 small-12">
        <div class=" input-group">
          <%= f.label :level_id, "Level", class: "input-group-label" %>
          <%= f.grouped_collection_select :level_id, Classtype.all, :levels, :name, :id, :levelname, {}, {id: "level_select", class: "input-group-field", required: true }%>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="columns large-6 small-12">
        <%= render partial: 'helper_fields/date', locals: {form: f, field: :date, label: "Absence Date", future: true, required: true} %>
      </div>
      <div class="columns large-6 small-12">
        <%= render partial: 'helper_fields/time', locals: {form: f, field: :time, label: "Class Time", required: true} %>
      </div>
    </div>

    <div class="row">
      <div class="columns small-12">
        <%= render partial: 'helper_fields/text_area', locals: {form: f, field: :reason, required: true} %>
      </div>
    </div>

    <div class="row">
      <div class="columns small-12">
        <%= recaptcha_tags %>
      </div>
    </div>
    
    <div class="row" style="margin-top: 50px;">
      <div class="columns small-12">
        <%= f.submit "Submit Absence", class: "button expanded" %>
      </div>
    </div>
  <% end %>
</div>