<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="robots" content="noindex">
    <meta name="google-site-verification" content="2A7CIuCKYwrCdq82ayoXjuWMFBe9uQ91YIz8M5qQuqw" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MR3VD2NGK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-3MR3VD2NGK');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Tricks" %></title>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= yield :jsforpage %>

    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Tricks Gymnastics, Dance, Swim, Folsom, Sacramento, California, Gymnastics, Fun, Classes, Tumbling, Swimming, Fitness, Birthday, Cheer, Night Out, Parents, Date Night"/>
    <meta name="description" content="Gymnastics is perhaps one of the most comprehensive lifestyle exercise programs available to children, incorporating strength, flexibility, speed, balance, coordination, power and discipline."/>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script>
      function sendHeight() {
        const height = document.documentElement.scrollHeight + 20;
        window.parent.postMessage({ frameHeight: height }, "*"); // Replace "*" with the parent page domain for added security
      }

      window.onload = sendHeight;
      // window.onresize = sendHeight; // Optional, if you want to adjust the height when the window is resized
    </script>
  </head>

<%
  kids_night_outs_link = link_to "Kids Night Out", kids_night_outs_path
  # bff_dance_parties_link = link_to "BFF Dance Party", bff_dance_parties_path
  camps_link = link_to "Camps", camps_path
  story_link = link_to "Our Story", our_story_path
  facilities_link = link_to "Our Facilities", locations_path
  fol_staff_link = link_to "Folsom", {:controller => "coaches", :action => "loc", :name => "Folsom"}
  sac_staff_link = link_to "Sacramento", {:controller => "coaches", :action => "loc", :name => "Sacramento"}
  testimonials_link = link_to "Testimonials", site_comments_path
  making_a_differences_link = link_to "Making A Difference", making_a_differences_path
  
  if !@family_rules.nil? 
    family_rules_link = link_to @family_rules.file_name.sub("Tricks_","").tr("_"," "), @family_rules
  end
  if !@newsletter.nil?
    newsletter_link = link_to @newsletter.file_name.sub("Tricks_","").tr("_"," "), @newsletter
  end
  blog_link = link_to "Blog", 'http://tricksgym.blogspot.com/', class: 'main-menu-item'
  discontinue_link = link_to "Notice of Discontinuation", new_discontinue_notice_path
  employment_link = link_to "Employment Application", new_employment_application_path
  absence_link = link_to "Notice of Absence", new_absent_path
  if !@billing_cycle.nil?
    billing_cycle_link = link_to "Billing Cycle (2023)", @billing_cycle
  end
  if !@folsom_billing_cycle.nil?
    folsom_billing_cycle_link = link_to "Billing Cycle (Folsom 2024)", @folsom_billing_cycle
  end
  if !@sacramento_billing_cycle.nil?
    sacramento_billing_cycle_link = link_to "Billing Cycle (Sacramento 2024)", @sacramento_billing_cycle
  end
  if !@release_form.nil?
    release_form_link = link_to @release_form.file_name.sub("Tricks_","").tr("_"," "), @release_form
  end
  parties_link = link_to "Parties", parties_path
  
  if @parties.class.method_defined?(:file_name)
    parties_link = link_to @parties.file_name, @parties
  end
  show_summer_recital_link = false
  if show_summer_recital_link
    summer_recital_link = link_to "Summer Recital", summer_recital_path
  end


  %>
  <body>
    <% if !Rails.env.production? || request.subdomain != 'old' %>
      <div class="off-canvas position-right" id="mobile_menu" data-off-canvas>
        <%= link_to "Register Now", "javascript:void(0);", 'data-toggle': 'register_now_modal', class: "button expanded main-menu-button" %>
        <ul class="vertical menu accordion-menu" style="margin-bottom: 20px;" data-accordion-menu>
          <li>
            <a href="#">Programs</a>
            <ul class="vertical menu nested">
              <li>
                <a href="#">Gymnastics</a>
                <ul class="vertical menu nested">
                  <!-- <li><%#= comp_link = link_to "Competitive", competitive_path %></li> -->
                </ul>
              </li>
              <li>
                <a href="#">Dance</a>
                <ul class="vertical menu nested">
                  <!-- <li><%#= recital_info_link = link_to "Summer Recital Info", recital_info_path %></li> -->
                </ul>
              </li>
              <!-- <li><%#= campus_link = link_to "CampUs", campus_path %></li> -->
            </ul>
          </li>
          <li>
            <a href="#">Parties & Events</a>
            <ul class="vertical menu nested">
            </ul>
          </li>
          <li>
            <a href="#">About Us</a>
            <ul class="vertical menu nested">
              <li>
                <a href="#">Our Staff</a>
                <ul class="vertical menu nested">
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Forms</a>
            <ul class="vertical menu nested">
              
            </ul>
          </li>
          <li style="border-bottom: 1px solid #dcdcdc;"><%= blog_link %></li>
        </ul>
        <%= link_to "Parent Portal", "javascript:void(0);", 'data-toggle': 'parent_portal_modal', class: "button expanded main-menu-button" %>
      </div>
      <% if current_user %>
        <div class="off-canvas position-left" id="staff_menu_off_canvas" data-off-canvas>
          <%= render partial: '/layouts/staff_menu', given_locals: {vertical: true} %>
        </div>
      <% end %>
    <% end %>
    <div class="off-canvas-content" data-off-canvas-content >
    
    <% if !Rails.env.production? || request.subdomain != 'old' %>
      <% show_size = false %>
      <% if !Rails.env.production? && show_size %>
      <div style="position: fixed; left: 50%; top: 50px; width: 20%; margin-left: -10%; border: solid 2px #333; z-index: 10000; background-color: white; text-align: center;">
        <div class="row">
          <div class="show-for-small-only columns">
            Small
          </div>
          <div class="show-for-medium-only columns">
            Medium
          </div>
          <div class="show-for-large-only columns">
            Large
          </div>
          <div class="show-for-xlarge columns">
            XLarge
          </div>
        </div>
      </div>
      <% end %>
  
      <% if current_user %>
        <div class="top-bar show-for-xlarge" id="staff_menu">
          <div class="top-bar-left">
            <div class="title-bar-title" style="margin-left: 6px;"><%= link_to current_user.email, current_user, class: "button expanded", style: "margin: 0px; padding: 7px;" %></div>
          </div>
          <div class="top-bar-right">
            <%= render partial: '/layouts/staff_menu', locals: {vertical: false} %>
          </div>
        </div>
      <% end %>
  
      <div data-sticky-container style="z-index: 20;">
        <div class="top-bar sticky" id="main-menu" data-sticky data-options="marginTop:0; stickyOn:small">
          <div class="logo">
            <%= link_to image_tag('tricks-header.png'), root_path %>
          </div>
          
          
          <% if current_user %>
            <div class="hide-for-xlarge" style="position: absolute; left: 6px; transform-origin: 0% 50% 0; transform: scale(1.1);" data-toggle="staff_menu_off_canvas">
              <button class="menu-icon" id="toggle_menu_button" style="margin: 0px 5px;" type="button"></button>
              <span class="title-bar-title">Staff</span>
            </div>
          <% end %>
          
          <div class="hide-for-xlarge" style="position: absolute; right: 6px; transform-origin: 100% 50% 0; transform: scale(1.1);" data-toggle="mobile_menu">
            <span class="title-bar-title">Menu</span>
            <button class="menu-icon" id="mobile_menu_button" style="margin: 0px 5px;" type="button"></button>
          </div>
        </div>
      </div>
      
      <% if content_for?(:header_image) %>
        <div id="header-secondary" class="row" style="z-index: 5;">
          <%= image_tag yield(:header_image), style:"width: 100%;" %>
        </div>
      <% else %>
        <div class="row show-for-small" style="padding-top: 60px;"></div>
        <div class="row show-for-large" style="padding-top: 30px;"></div>
      <% end %>  
      <% end %>
      <div class="row" style="padding-top: 20px;">
        <div class="columns small-12" id="main-container">
          <% if flash.to_a.length > 0 %>
            <div class="callout-container">
              <% flash.each do |name, msg| %>
    
                <% if name.to_s == "alert" %>
                  <div class="callout warning" data-closable>   
                    <%= msg %>
                    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                <% end %>
    
                <% if name.to_s == "notice" %>
                  <div class="callout success" data-closable>   
                    <%= msg %>
                    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                <% end %>
    
                <% if name.to_s == "error" %>
                  <div class="callout alert" data-closable>   
                    <%= msg %>
                    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
          
          <% if !@bubbles.nil? %>
            <div class="row align-center">
              <div class="columns small-12 large-8 ">
                <%= yield %>
              </div>  
              <div class="columns small-12 large-4">
                <div class="row align-spaced">
                  <% @bubbles.each do |bubble_id| %>
                    <div class="columns small-8 medium-5 large-10">
                      <% if BubbleContent.exists?(sort_order: bubble_id) %>
                        <br>
                        <%= render :partial => "bubble_contents/bubble", locals: {given_bubble: BubbleContent.where(sort_order: bubble_id).first} %>
                        <br>
                      <% else %>
                        <h2 style="color: red; margin: 40px 0;">BubbleContent(<%= bubble_id %>) Not Found</h2>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>  
            </div>
          <% else %>
            <div class="row">
              <div class="columns small-12">
                <%= yield %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  
      <div class="reveal fast large" id="register_now_modal" data-reveal data-close-on-click="true" data-animation-in="scale-in-down" data-animation-out="scale-out-up">
        <div id="choose_location_modal">
          <h1>Choose a Location</h1>
          <div class="row" style="margin-top: 25px;">
            <% locations = {"Folsom" => "FOL", "Sacramento" => "SAC"} %> 
            <% locations.each do |loc| %>
              <div class="columns small-12 large-4">
                <%= link_to loc[0], 'javascript:void(0);', class: "button expanded location-button", id: loc[1] %>
              </div>
            <% end %>
          </div>
        </div>
        <div id="choose_program_modal">
          <h1>Choose a Program</h1>
          <div class="row" style="margin-top: 20px;">
            <% programs = {"Preschool Gymnastics" => tumblebunnies_path, "School-Age Gymnastics" => gymnastics_path, "TAG" => tag_path, "Preschool Dance" => preschool_dance_path, "School-Age Dance" => dance_path, "Swim" => swim_path} %> 
            <% programs.each do |prog| %>
              <div class="columns small-12 large-6">
                <%= link_to prog[0], prog[1], class: "button expanded program-button", id: prog[0].parameterize(separator: '_') %>
              </div>
            <% end %>
          </div>
        </div>
        <button class="close-button" data-close aria-label="Close reveal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <div class="reveal fast large" id="parent_portal_modal" data-reveal data-close-on-click="true" data-animation-in="scale-in-down" data-animation-out="scale-out-up">
        <h1>Parent Portal Location</h1>
        <div class="row" style="margin-top: 25px;">
          <% locations = {"Folsom" => "FOL", "Sacramento" => "SAC"} %> 
          <% locations.each do |loc| %>
            <% 
              case loc[1]
              when "FOL"
                org_id = "550122"
              when "SAC"
                org_id = "550124"
              end
            %>
            <div class="columns small-12 large-4">
              <%= link_to loc[0], 'https://app.jackrabbitclass.com/portal/ppLogin.asp?id=' + org_id, class: "button expanded", id: loc[1] %>
            </div>
          <% end %>
        </div>
        <button class="close-button" data-close aria-label="Close reveal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    
      <%= link_to '#', '#', id: "uploading_modal_hidden_trigger", 'data-toggle': 'uploading_modal', style: "display: none;" %>
      <div class="reveal fast" id="uploading_modal" data-reveal data-close-on-click="false" data-animation-in="scale-in-down" data-animation-out="scale-out-up">
      <div class="row align-center">
        <h1>Uploading Files</h1>
      </div>
      <div class="row align-center">
  			<%= image_tag("loading-spinner.gif") %>
      </div>
    </div>

    
  
    <% if !Rails.env.production? || request.subdomain != 'old' %>
    <div id="footer" style="z-index: 100; margin-top: 150px;">
      <!--<div style="height: 100px; width: 100%; background-color: #fff;">-->
        <!-- only here for a bit of padding above the footer -->
      <!--</div>-->
      <div class="row">
        <div class="columns small-12" id="footer-content">
          <div class="row" style="font-size: 13px; height: 200px;">
            <div class="columns large-8 small-12 small-order-2 large-order-1">

            </div>

          </div>
          <% if !current_user %>
            <div class="row align-center">
              <div class="columns small-10 large-6">
                <%= link_to "Staff Login", login_path, class: "button secondary expanded", style: "margin-top: 50px;" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <% height = 5 %>
      <% width = 300 %>
      <% buffer = 20 %>
      <div style="width: 100%; height: <%= (height * 2) + buffer %>px; background-image: url(&quot;data:image/svg+xml;charset=utf8,<svg height='100%' width='100%' viewBox='0 0 <%= width %> <%= (height * 2) + buffer %>' xmlns='http://www.w3.org/2000/svg'><path d='m 0 0 q <%= width / 8 %> 0 <%= width / 4 %> <%= height %> t <%= width / 4 %> <%= height %> t <%= width / 4 %> -<%= height %> t <%= width / 4 %> -<%= height %> l 0 <%= (height * 2) + buffer %> l -<%= width %> 0 z' stroke='white' fill='white' /></svg>&quot;); background-size: contain;"></div>
    </div>
    <% end %>
    </div>
  </body>
</html>